.dialog-description {
  width: 100%;
  // white-space: pre-line;
  padding-top: 16px;
  ul {
    margin-bottom: 0;
    background-color: #fafafa;
    border: 1px solid #BDBDBD;
    li {
      padding: 8px;
      border-bottom: 1px solid #BDBDBD;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}


.dnd-pre-line {
  white-space: pre-line;
}

.dnd-no-wrap {
  white-space: nowrap;
}

.dnd-spell-dialog {
  .xen-dialog.fullscreen.xen-dialog.has-actions .xen-dialog-content {
    padding: 0;
  }
}