@import 'variables';

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.hide {}
.page-container {
  margin-top: 56px;
  // padding-top: 16px;
  // margin-top: 56px;
  // padding-left: 280px;
}

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
// }

// ::-webkit-scrollbar:vertical {
//   width: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, .5);
// }

// ::-webkit-scrollbar-track {
//   background-color: #eee;
// }
.disable-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.xen-no-margin,
.xen-input-container.xen-no-margin {
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.xen-no-margin-sm {
  @media only screen and (max-width: $small-breakpoint) {
    margin: 0;
  }
}

.xen-page-content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  @media only screen and (min-width: $small-breakpoint) {
    padding-top: 16px;
  }
}

.dndhub-tab-content {
  max-width: 1200px;
  min-height: calc(100vh - 96px);
  width: 100%;
  margin: auto;
  padding: 16px;
  overflow-y: auto;
  overflow: hidden;
  @media only screen and (max-width: $small-breakpoint) {
    padding: 0px;
    .xen-data-table, .xen-card {
      box-shadow: none;
      border-bottom: 1px solid #bdbdbd
    }
  }
}

.xen-page-tabs {
  > .xen-tab-items-container {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  > .xen-tab-content {
    padding-top: 40px;
  }
}